@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-display: optional;
  font-weight: 200 800;
  src: url("../node_modules/@fontsource-variable/manrope/files/manrope-latin-wght-normal.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-display: optional;
  font-weight: 300 700;
  src: url("../node_modules/@fontsource-variable/cormorant-garamond/files/cormorant-garamond-latin-wght-normal.woff2") format("woff2-variations");
}
